<wgen-nav-bar [model]="navBar"></wgen-nav-bar>
<wgen-side-nav [model]="sideNav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Hello world</h1>
        <button type="button" class="btn btn-primary" wgenRipple wgenSideNavCollapse>
          <i class="fa fa-bars"></i>Toggle
        </button>
      </div>
    </div>
  </div>
</wgen-side-nav>
<wgen-footer></wgen-footer>

<!--<div class="container-fluid bg">-->
<!--  <br><br><br>-->
<!--  <wgen-bread-crumb></wgen-bread-crumb>-->
<!--  <hr>-->
<!--  <router-outlet></router-outlet>-->
<!--  <hr>-->
<!--  <div id="DynAlertComp"></div>-->
<!--  <wgen-footer></wgen-footer>-->
<!--</div>-->
