<div *ngIf="model" id="wrapper">
  <nav id="sidebar" [ngClass]="collapsed ? 'collapsed' : ''">
    <div *ngIf="model.brand" class="brand" wgenRipple>
      <wgen-icon *ngIf="model.brand.icon" [model]="model.brand.icon"></wgen-icon>
      <wgen-image *ngIf="model.brand.image" [model]="model.brand.image"></wgen-image>
      {{model.brand.label}}
    </div>
    <ul class="list-unstyled components mb-5">

      <li *ngFor="let item of model.items" wgenRipple
          [ngClass]="item.getClasses()">
        <a *ngIf="item.link" class="item"
           [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <span><wgen-icon [model]="item.icon"></wgen-icon></span>
          {{item.label}}</a>
        <span *ngIf="!item.link" class="item">
          <span><wgen-icon [model]="item.icon"></wgen-icon></span>{{item.label}}</span>
      </li>
    </ul>
  </nav>

  <div id="content">
    <ng-content></ng-content>
  </div>
</div>
